---
- name: Get basic Proxmox Guest Machines info.
  community.general.proxmox_vm_info:
    api_host: "{{ add_guest_host_pm_api_host }}"
    api_user: "{{ add_guest_host_pm_api_user }}"
    api_token_id: "{{ add_guest_host_pm_api_token_name }}"
    api_token_secret: "{{ add_guest_host_pm_api_token_secret }}"
  register: add_guest_host_basic_pve_info

- name: Include the add-host tasks.
  ansible.builtin.include_tasks: add-host.yml
  loop: "{{ add_guest_host_basic_pve_info.proxmox_vms | selectattr('status', 'equalto', 'running') |
    selectattr('name', 'in', add_guest_host_list) }}"
  loop_control:
    label: "{{ add_guest_host_item.name }}"
    loop_var: add_guest_host_item

- name: Scan for ssh-hostkeys.
  ansible.builtin.command:
    cmd: "/usr/bin/ssh-keyscan {{ hostvars[item]['ansible_host'] }}"
  changed_when: false
  loop: "{{ add_guest_host_list }}"
  register: add_guest_host_scanned_keys
  until: add_guest_host_scanned_keys.rc == 0

- name: Add ssh-hostkeys to ~/.ssh/known_hosts.
  ansible.builtin.lineinfile:
    path: ~/.ssh/known_hosts
    regexp: "^{{ item.split()[:2] | join(' ') }}"
    line: "{{ item }}"
  loop: "{{ add_guest_host_scanned_keys.results | map(attribute='stdout_lines') | flatten }}"
  when: item[:1] != '#'
