---
- name: Confirm removal of hosts.
  ansible.builtin.pause:
    prompt: "Enter 'true', 'yes', or '1' to continue and remove {{ remove_list }}?"
  register: remove_confirm_continue
  failed_when: not (remove_confirm_continue.user_input | bool)
  when:
    - remove_skip_confirmation_prompt | bool is not true

- name: Remove 'ansible_host' from known_hosts file.
  ansible.builtin.known_hosts:
    name: "{{ hostvars[item]['ansible_host'] }}"
    state: absent
  loop: "{{ remove_list }}"
  loop_control:
    label: "{{ hostvars[item]['ansible_host'] | default(item) }}"
  when:
    - remove_from_ssh_known_hosts is true
    - hostvars[item]['ansible_host'] is defined

- name: Remove 'inventory_hostname' from known_hosts file.
  ansible.builtin.known_hosts:
    name: "{{ item }}"
    state: absent
  loop: "{{ remove_list }}"
  when: remove_from_ssh_known_hosts is true

- name: Get Proxmox guests Info.
  community.general.proxmox_vm_info:
    api_host: "{{ remove_pm_api_host }}"
    api_user: "{{ remove_pm_api_user }}"
    api_token_id: "{{ remove_pm_api_token_name }}"
    api_token_secret: "{{ remove_pm_api_token_secret }}"
  register: remove_pve_vm_info

- name: Unconditionally shut down the LXC containers.
  community.general.proxmox:
    api_host: "{{ remove_pm_api_host }}"
    api_user: "{{ remove_pm_api_user }}"
    api_token_id: "{{ remove_pm_api_token_name }}"
    api_token_secret: "{{ remove_pm_api_token_secret }}"
    force: true
    hostname: "{{ item }}"
    node: "{{ remove_pve_vm_info.proxmox_vms |
      selectattr('name', 'equalto', item) | map(attribute='node') | first }}"
    state: stopped
  loop: "{{ remove_list | intersect(groups['proxmox_all_lxc']) }}"
  loop_control:
    pause: 1

- name: Unconditionally shut down the VMs.
  community.general.proxmox_kvm:
    api_host: "{{ remove_pm_api_host }}"
    api_user: "{{ remove_pm_api_user }}"
    api_token_id: "{{ remove_pm_api_token_name }}"
    api_token_secret: "{{ remove_pm_api_token_secret }}"
    force: true
    name: "{{ item }}"
    node: "{{ remove_pve_vm_info.proxmox_vms |
      selectattr('name', 'equalto', item) | map(attribute='node') | first }}"
    state: stopped
  loop: "{{ remove_list | intersect(groups['proxmox_all_qemu']) }}"
  loop_control:
    pause: 1

- name: Remove the LXC Containers.
  community.general.proxmox:
    api_host: "{{ remove_pm_api_host }}"
    api_user: "{{ remove_pm_api_user }}"
    api_token_id: "{{ remove_pm_api_token_name }}"
    api_token_secret: "{{ remove_pm_api_token_secret }}"
    hostname: "{{ item }}"
    node: "{{ remove_pve_vm_info.proxmox_vms |
      selectattr('name', 'equalto', item) | map(attribute='node') | first }}"
    state: absent
  delay: 1
  loop: "{{ remove_list | intersect(groups['proxmox_all_lxc']) }}"
  register: remove_results
  until: not remove_results.failed

- name: Remove the VMs.
  community.general.proxmox_kvm:
    api_host: "{{ remove_pm_api_host }}"
    api_user: "{{ remove_pm_api_user }}"
    api_token_id: "{{ remove_pm_api_token_name }}"
    api_token_secret: "{{ remove_pm_api_token_secret }}"
    name: "{{ item }}"
    node: "{{ remove_pve_vm_info.proxmox_vms |
      selectattr('name', 'equalto', item) | map(attribute='node') | first }}"
    state: absent
  delay: 1
  loop: "{{ remove_list | intersect(groups['proxmox_all_qemu']) }}"
  register: remove_results
  until: not remove_results.failed
